.skills{
    background: #F5F5F5;
}
.skills__info{
    display:block;
    margin: 0 auto;
    width: 80%;
    padding: 40px 0;
}
.skills__titulo{
    color: #464646;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    padding: 40px 0;
    text-align: center;
}
.skills__lista{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.skills__individual{
    width: 170px;
    height: 174px;
}
.skills__item{
    margin: 20px 0;
}
.skills__item:nth-child(1) {
    background: url("../../img/html5.jpg") no-repeat center / cover;
}

.skills__item:nth-child(2) {
    background: url("../../img/javascript.png") no-repeat center / cover;
}

.skills__item:nth-child(3) {
    background: url("../../img/php.jpg") no-repeat center / cover;
}

.skills__item:nth-child(4) {
    background: url("../../img/java.png") no-repeat center / cover;
}

.skills__item:nth-child(5) {
    background: url("../../img/Bootstrap.png") no-repeat center / cover;
}

.skills__item:nth-child(6) {
    background: url("../../img/css.png") no-repeat center / cover;
}